@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --container-width: 1270px;
  --container-padding: 15px;
  --secondary: rgba(15, 31, 28, 0.5);
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f6f6f6;
  color: #0f1f1c;
}

p {
  font-weight: 500;
  font-size: 25px;
  line-height: 1.5;
  color: var(--secondary);
}

.container {
  max-width: var(--container-width);
  padding: 0 var(--container-padding);
  margin: 0 auto;
}

.container__right {
  padding-left: calc(
    (100% - var(--container-width)) / 2 + var(--container-padding)
  );
}

.header {
  min-height: 940px;
  background: linear-gradient(132.05deg, #428e5f -17.38%, #112120 78.4%),
    #204434;
  color: #fff;
  position: relative;
  padding-top: 45px;
  overflow: hidden;
}

.header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 96px;
  background: url("./../img/bg_arrow.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header__top {
  margin-bottom: 85px;
}

.nav {
  display: flex;
  justify-content: space-between;
  column-gap: 80px;
  align-items: center;
  position: relative;
  z-index: 9;
}

.nav a {
  color: #fff;
}

.nav__logo a {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #ffffff;
}

.nav__list {
  display: flex;
  column-gap: 80px;
}

.nav__list a {
  font-weight: 500;
  font-size: 15px;
  line-height: 1.47;
  position: relative;
}

.nav__list a:hover {
}

.nav__list a.active::after,
.nav__list a:hover::after {
  content: "";
  display: block;
  height: 4px;
  position: absolute;
  left: 0;
  right: 10px;
  bottom: -7px;
  background-color: #c4c4c4;
  border-radius: 100px;
}

.nav__login a {
  position: relative;
}

.nav__login a:hover::after {
  content: "";
  display: block;
  height: 4px;
  position: absolute;
  left: 0;
  right: 10px;
  bottom: -7px;
  background-color: #c4c4c4;
  border-radius: 100px;
}

.nav__login {
  display: flex;
  column-gap: 25px;
  font-size: 15px;
  font-weight: 500;
  align-items: center;
}

.header__row {
  display: flex;
}

.header__content {
  max-width: 592px;
}

.nav-btn {
  padding: 13px 44px;
  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%);
  border-radius: 100px;
  transition: all 0.3s ease-in;
  font-size: 15px;
  font-weight: 500;
}

.nav-btn:hover {
  color: #0f1f1c;
  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%);
}

.nav-btn:active {
  position: relative;
  top: 1px;
}

.header__badge {
  display: inline-block;
  padding: 11px 30px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 15px;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 50px;
  margin-bottom: 7px;
}

.header__title {
  font-weight: 400;
  font-size: 55px;
  line-height: 1.5;
  color: #ffffff;
  margin-bottom: 30px;
}

.header__desc {
  font-weight: 700;
  font-size: 25px;
  line-height: 1.52;
  color: #ffffff;
  opacity: 0.5;
  margin-bottom: 65px;
}

.header-btn {
  padding: 26px 47px;
  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%);
  border-radius: 27px;
  font-weight: 600;
  font-size: 25px;
  line-height: 1.52;
  color: #fefefe;
  transition: all 0.3s ease-in;
}

.header-btn:hover {
  color: #0f1f1c;
  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%);
}

.header-btn:active {
  position: relative;
  top: 1px;
}

.header__img {
  position: relative;
  flex-grow: 1;
}

.header__img img {
  max-width: unset;
  position: absolute;
  width: 894px;
  height: 940px;
  top: -180px;
  left: -87px;
}

.destination {
  padding: 120px 0 200px 0;
  overflow: hidden;
}

.destination__row {
  display: flex;
  column-gap: 50px;
}

.destination__content {
  max-width: 456px;
}

.title-block {
  font-weight: 600;
  font-size: 55px;
  line-height: 1.49;
  color: #0f1f1c;
}

.title-block span {
  font-weight: 600;
  font-size: 30px;
  line-height: 1.5;
}

.destination__content .title-block {
  margin-bottom: 15px;
}

.destination__slider {
  width: 1110px;
  flex-shrink: 0;
}

.destination__content p {
  margin-bottom: 85px;
}

.btn {
  padding: 25px 44px;
  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%);
  border-radius: 27px;
  border-radius: 27px;
  transition: all 0.3s ease-in;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  color: #fefefe;
}

.btn:hover {
  color: #0f1f1c;
  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%);
}

.slider .center .slider__item{
    width: 380px;
    height: 456px;
    margin-top: 0;
}

.slider__item {
    margin-top: 27px;
  width: 335px;
  height: 402px;
  object-fit: cover;
  border-radius: 35px;
  transition: all .3s ease-in;
}
.slider{
    position: relative;
    z-index: 1;
}

.slider__btn{
    
    width: 68px;
    height: 68px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%), #8B8B8B;
}

.slider__btn--prev{
    position: absolute;
    left: -27px;
    top: 45%;
    z-index: 2;
}
.slider__btn--next{
    position: absolute;
    right: -27px;
    top: 45%;
    z-index: 2;
}